body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#contador {
    font-size: 48px;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#botones {
    display: flex;
    gap: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}

#container-formulario {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Disposición en columna */
    justify-content: space-between; /* Espacio entre elementos */
    background-color: #8feea3; /* Fondo para el formulario */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Centrar el texto */
    width: 500px; /* Ancho fijo */
    max-width: 90%; /* Ancho máximo para pantallas pequeñas */
    margin-top: 20px;
}

.pantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(159, 122, 150, 1);
    color: white;
    text-align: center;
    z-index: 1000;
}

.parrafoPantalla{
    margin-top: 0;
    font-size: 3em;
    color: rgb(16, 211, 185);
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 1001;
    position: relative;
}

.inicio{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(16, 211, 185);
    border: 2px solid rgb(16, 211, 185);
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    border-radius: 20px;
}

.inicio:hover {
    background-color: rgb(28, 82, 78);
    color: rgb(0, 0, 0);
}

